body {
  width: 960px;
  overflow-x: hidden;
}

a {
   text-decoration: none;
}

header {
   background-color: #ffffff;
   display: flex;
   border-bottom: 1px solid #cccccc;
   width: 100%;
   margin-top: -10px;
   margin-left: -10px;
   padding-right: 100%;
   position: ;
}

header h1 {
   background-color: #4aaaa5;
   color: #ffffff;
   font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   width: auto;
   padding: 30px;
   margin-left: 60px;
   margin-top: -10px;
   margin-bottom: 0px;
}

nav p {
   color: #666666;
   font-size: 15px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;

}

nav {
   display: flex;
   margin-left: 240px;
   
}
 


 .middle {
    background-color: #ffffff;
    width: 80%;
    border: 1px solid #dddddd;
    margin: 50px;
 }

 .heading {
     color: #4aaaa5;
     padding-left: 20px;
     font-size: 40px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border-bottom: 1px solid #666666;
 }
 
 
 .about {
     text-align: left;
     color: #666666;
     font-family: Arial, Helvetica, sans-serif ;
     display: flex;
 }

 .about p {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;

 }

 .about img {
     padding: 25px;
 }
 
 footer {
    height: 5%;
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 11px;
    margin-left: -10px;
    position: fixed;
 }

 .column {
    display: inline-block;
    padding: 20px;
    float: left;
 }

 .column h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 60px;
    width: 300px;
    text-align: center;
    position: relative;
    bottom: 95px;
 }

 .pmiddle {
    background-color: #ffffff;
    width: 960px; 
    height: 1300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 120px;
    border: 1px solid #dddddd;
 }

 .gallery1 {
    display: flex;
    flex-directi;
 }

 .gallery2 {
    display: flex;
 }

 .gallery3 {
    display: flex;
 }

 .contact {
    margin-top: 130px;
    padding: 5px 10px 10px 10px;
 }

 .form-control {
    width: 940px;
    height: 30px;
    position: relative;
    bottom: 95px;
    font-size: large;
 }

 .form-control-m {
    width: 940px;
    height: 150px;
    position: relative;
    bottom: 95px;
    font-size: large;
 }

 .contact p {
   color: #777777;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
   bottom: 95px;

 }

 .cmiddle {
    background-color: #ffffff;
    width: 960px; 
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 120px;
    border: 1px solid #dddddd;
 }

 .submit {
    background-color: #4aaaa5;
    width: 95px;
    height: 35px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    position: relative;
    bottom: 75px;
    font-size: large;
 }

 @media screen and (max-device-width: 980px) {
      body {
         width: 980px;
      }
      
      header {
         
         position: static;
      }
    
      .middle {
         margin-bottom: 475px;
      }

      footer {
         position: fixed;
         margin-bottom: -20px;
      }
 }

 @media screen and (max-width: 768px) {
   body {
      width: 768px;
   }

   header {
     margin-right: -10px;
      position: static;
      padding: 0%;
   }

   nav p {
      padding: 10px;
      margin-right: -10px;
      margin-left: -10px;
   }

   .middle {
      width: 90%;
      margin: 4% -12% 20% 3%;
      display: block;
   }

   footer {
      position: fixed;
      margin-bottom: -20px;
   }

 }

@media screen and (max-width: 640px) {
  body {
     width: 640px;
     
  }
  
   header {
      display: block;
      position: static;
      padding-right: 10%;
   }

   header h1 {
      padding-right: 10px;
      margin-left: -10px;
   }

   nav p {
      margin-left: 0px;
      padding: 0px;
      padding-right: 10px;
   }

   .middle {
      width: 90%;
      margin: 4% -12% 20% 3%;
      display: block;
   }

   footer {
      
      margin-bottom: 0px;
   }
}